body{   
    background-color: rgb(5, 5, 68);
    margin: 0px;
  }
nav{
  display: flex;
  justify-content: space-around ;
}
.menu{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  margin:10px;
}
.menu li{ 
  font-size: 30px;
  text-align: center;
  padding: 20px;
  block-size: 30px;
  width: 300px;
}
.menu a{
  text-decoration: wavy;
  opacity: 50%;
}
.menu :hover{
  background:rgb(91, 83, 83);
  opacity: 100%;
  transition: 1000ms;
}
article{
    text-align: center;
}
a{
    font-size:medium;
    color: whitesmoke;
    font-style:oblique;
}
a :hover{
    
    animation-direction: alternate-reverse;

}

address{
    color: whitesmoke;
}
footer{
  background-color: wheat;
  color: rgb(8, 34, 92);
  position:absolute;
  bottom: 12px;
}